@tailwind components;
@tailwind utilities;

html, body, #root {
    min-height: 100vh;

}

:root {
    --page-padding-inline: 5rem;
    --page-padding-inline-mobile: 1.5rem;
}

.breadcrumb {
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;

    &:hover {
        background-color: #dedede;
        padding-inline: 10px;
        border-radius: 5px;
    }
}